<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="{{ site.title }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Slab:700">
    <link rel="stylesheet" type="text/css" href="{{ '/css/main.css' | prepend: site.baseurl }}">
    <title>{{ page.title }} | {{ site.title }}</title>
  </head>
  <body>
    <header>
      <nav role="main">
        <h2>{{ site.title }}</h2>
        <nav role="main">
          <ul class="nav">
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/action-plans">Action Plans</a></li>
            <li><a href="{{ site.baseurl }}/placecal">PlaceCal</a></li>
            <li><a href="{{ site.baseurl }}/background">Project Background</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
          </ul>
          <ul class="nav nav--regions">
            <li><a href="{{ site.baseurl }}/region/hulme-and-moss-side/">Hulme &amp; Moss Side</a></li>
            <li><a href="{{ site.baseurl }}/region/moston/">Moston</a></li>
            <li><a href="{{ site.baseurl }}/region/burnage/">Burnage</a></li>
            <li><a href="{{ site.baseurl }}/region/miles-platting/">Miles Platting</a></li>
          </ul>
        </nav>
      </nav>
    </header>

    <section>
      <h1>{{ page.title }}</h1>
